body{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}
#app{	
	display: flex;
	flex-direction: column;
}
.module{
	margin-bottom: 1rem;
	border: solid 1px rgb(68, 68, 68);
	padding: 1rem;
	border-radius: 0.66rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.module>*{
	margin-bottom: 0.25rem;;
}
.spread{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}